.user-list {
  background-color: #2c2f33;
  padding: 10px;
  max-width: 200px;
}

.user-item {
  padding: 5px;
  color: #b9bbbe;
  cursor: pointer;
}

.user-item:hover {
  background-color: #36393f;
}

.user-item {
  display: flex;
  align-items: center;
}

.user-status {
  font-weight: bold;
  margin-top: 10px;
}
