.message-list {
  background-color: #2c2f33;
  padding: 10px;
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

.username-color {
  color: orange;
}

.timestamp {
  color: #6e7074f6;
  font-size: 0.8em;
  margin-left: 10px;
}

.custom-button {
  margin-left: 10px;
}

.message-item {
  margin-bottom: 20px; /* space between messages */
}

.message-content {
  display: flex;
  align-items: flex-start; /* Align avatar and text at the top */
  gap: 10px;
}

.message-text {
  display: flex;
  flex-direction: column; /* Stack username and message vertically */
}

.message-header {
  display: flex;
  justify-content: space-between; /* Space between username and timestamp */
  align-items: center;
}
