.message-list {
  background-color: #2c2f33;
  padding: 10px;
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

.message-item {
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 4px;
  background-color: #42464d;
  color: #b9bbbe;
  word-break: break-all;
}

.username-color {
  color: orange;
}

.timestamp {
  color: #b9bbbe;
  font-size: 0.9em;
  margin-left: 10px;
}
