.settings-icon {
  position: fixed;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
  display: flex;
  justify-content: left;
}

.settings-icon svg {
  width: 30px;
  height: 30px;
  fill: #3f3f3f;
}

.settings-icon:hover svg {
  fill: #fdfafa;
}
