.channel-list {
  background-color: #2c2f33; /* Background color */
  padding: 10px;
  max-width: 200px; /* Width of the channel list */
  cursor: pointer;
}

.channel-item {
  padding: 10px;
  color: #b9bbbe;
  transition: background-color 0.3s ease;
}

.channel-item:hover,
.channel-item.selected {
  background-color: #36393f; /* Highlight on hover and when selected */
  border-radius: 5px;
}
