.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c2f33;
}

.username-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #36393f;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.username-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #202225;
  background-color: #202225;
  color: #b9bbbe;
  border-radius: 4px;
  font-size: 16px;
}

.error-message {
  color: #f04747;
  font-size: 15px;
}

body,
input,
button {
  font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
